/* client/src/components/RunTable.css */
.table-container {
    height: 400px;
    width: 100%;
    /* Adjust based on your header/footer height */
    overflow-y: auto;
}

.table {
    width: 100%;
}